div .octv-control-div {
   width: 100%;
   min-width: 200px;
   clear: both;
   min-height: 50px;
   height: 10%;
   margin-bottom: 20px;
   text-align: center;
}

div .octv-control-div-inside {
   display: block;
   width: 80%;
   height: 100%;
   margin: 5px auto;
   text-align: center;
   clear: both;
}

div .octv-control-element {
   float: left;
   width: 12%;
   height: 100%;
   padding: 0px;
   vertical-align: center;
   clear: none;
}

.octv-control-div img {
   height: 100%;
   display: block;
   margin: 5px auto;
}

.octv-high :hover {
   background-color: #ccc;
}

.octv-video-item {
   width: 300px;
   height: 320px;
   float: left;
   padding: 10px;
}

.octv-video-item img {
   margin-top: 10px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 20px;
   text-align: center;
}

.octv-video-item p {
   text-align: center;
   clear: both;
}

.octv-delete img {
   width: 20px;
   margin-left: 140px;
   margin-left: 140px;
}
